<div class="container-fluid bg-3">
  <div class="divider" id="aboutme"></div>

  <div class="row">
    <div class="col-sm-7  text">
      <h1 class='poiret-one about-title'>Vitor Navarro</h1>

      <hr class='hr-dashed'>


<p>
      Personal profile
    </p>
<ul>
        <li>Technology enthusiast.</li>
        <li>Talking about psychology, sociology, comics, movies, games and some other things, let's talk!</li>
        <li>Book lover.</li>
        <li>Also love video games and board games.</li>
        <li>Be with other people, did I mention I like to chat?</li>
        <li>Not a sports fan, but hey I do like bike, squash, swimming and basketball.</li>
        <li>Almost forgot Skydiving, hell yeah!</li>
        <li>Writing: tech posts, life subjects and my own fantasy histories.</li>
        <li>I do some digital art, still I'm not that good at it.</li>
        <li>Game jammer, i.e. participate in game creation events, I love game making</li>
      </ul>
      <p>
      Professional profile
    </p>
      <ul>
      <li>Bachelor in Computer Science and specialized in Games: Production and Development.</li>
      <li>Delivered and delivering software as a Team Leader in collaborative culture companies.</li>
      <li>Delivered many kinds of software with different technologies in the past 7 years. Like: intranet, desktop, back-end apps, mobile apps and games.</li>
      <li>Improving myself in software business through technology, design and business tranning outside of my work. There is always room for improvement, there is no finish line in this aspect for me.</li>
      <li>Improved as a technical writer since 2008.</li>
      <li>Teached how to build mobile games and how does game engines work in game development university course.</li>
    </ul>



<div class="row" style="text-align:center">
  <h4 class='raleway-semibold'>
    Oh and before you go, pay a visit to my main blog on the menu or the following ones down here
  </h4>
</div>
<div class="col-xs-6 col-sm-6">
  <a class="raleway-bold link-medium"
  href="https://game2nextlevel.wordpress.com/">
  Next Level - Game Development
</a>
</div>
<div class="col-xs-6 col-sm-6">
  <a class="raleway-bold link-medium"
  href="http://life-box-of-chocolates.tumblr.com">
  life, a box of chocolates - My take on life subjects
</a>
</div>
</div>

    <div class="col-sm-3 col-sm-offset-1 peers-comment" style="overflow-y:true">

      <div class="row">
        <h4>What others talk about me</h4>
    <p>
        Navarro is a serious professional, committed, with a great capacity for abstraction and concentration. He has a quick learning curve which allows him to act as a pivot in the teams of which he is part.
        He holds an unique style, always willing to help his teammates.
      </br>
        Furthermore, as a computer scientist he shows a taste for research on issues related to game development and game psychology.
</br>
        Certainly a very promising professional whom I highly recommend it.
      </p>
      <h5>
        Pedro Anisio Silva
      </br>
      Sr. Softwarer Development Mgr. at Walmart.com.br
    </h5>
      </div>
      <hr class="hr-dashed-dark">
      <div class="row">
      <p>
        Vitor was a very diligent student, I was his teacher in object oriented programming discipline during 3rd semester of college. I emphasize that he presented fairly rapid evolution during the course, he surely is engaged and has a great ability to learn and adapt to new technologies. I also remember he had great relationship skills with both their colleagues and teachers.
      </p>
      <h5>
        Fabio Roberto de Miranda
      </br>
      Adjunct Professor at Insper
    </h5>
      </div>

    <hr class="hr-dashed-dark">
    <div class="row">
    <p>
      I have worked with Navarro before in projects using iOS and Ruby and he is a spectacular developer, specially with iOS. Always assuring the code have automated tests and following good practices, he was one of the most responsible devs in our team. He is also passionate for what he does and is always studying or trying something new for self improvement. Basically, he has what I always try to find in job candidates for my team.
    </p>
    <h5>
      Leonardo M Ribeiro
    </br>
      DevOps at AutoSeg
    </h5>
    </div>

    <!-- <hr class="hr-dashed-dark">
    <div class="row">
    <p>
      I worked with Vitor twice, at Das Dad and at Code Miner 42. I have only good things to say about Vitor. He is productive, smart and a very technical developer. If I have the chance, in the future I want to work with him again.
    </p>
    <h5>
      Rafael da Silva Almeida
    </br>
      DevOps at EasyTaxi
    </h5>
    </div>

    <hr class="hr-dashed-dark">
    <div class="row">
    <p>
      Vitor has worked on my startup from oct 2012 to jan 2014 as Sr. iOS Developer. He is a very good developer with a strong sense of app architecture and take responsibility very seriously. Also, he can learn and master new technologies with ease.
    </p>
    <h5>
      Leonardo Baptista
    </br>
      Entrepreneur and freelancer developer
    </h5>
    </div> -->
    </div>







</div>
</div>
</div>
