<div class="container-fluid bg-3">
  <div class="divider" id="aboutme"></div>

  <div class="row">
    <div class="col-sm-7 center-text text">
      <h1 class='poiret-one'>Vitor Navarro</h1>

      <hr class='hr-dashed'>

      <p>
        I'm a Computer Scientist graduated from Centro Universitário Senac with a graduation course in Games: Production and Development also from Senac.
      </br>
      My career in software development started because of my desired of making digital games, since then I've created: desktop; web; mobile and game software, I've learned lots of things and I've met lots of good and not so good people. The outcome is that I really like every aspect of working in tech industry.
    </br>
    Furthermore I consider myself a generalist programmer but currently the languages most used are: Objective-C, Lua and Ruby.
  </br>
  And hey, these are things I deeply enjoy: technology, coding, teaching, video games, books, psychology, drawing and party with friends.
</p>


<div class="row" style="text-align:center">
  <h3 class='raleway-bold'>
    Follow also my game creation blog
  </h3>
</div>
<div class="col-xs-12 col-sm-12">
  <a class="raleway-semibold link"
  href="https://game2nextlevel.wordpress.com/">
  Next Level - Game Development
</a>
</div>
</div>

    <div class="col-sm-3 col-sm-offset-1 peers-comment">
      <h4>What others talk about me</h4>
      <div class="row">
    <p>
        Navarro is a serious professional, committed, with a great capacity for abstraction and concentration. He has a quick learning curve which allows him to act as a pivot in the teams of which he is part.
        He holds an unique style, always willing to help his teammates.
      </br>
        Furthermore, as a computer scientist he shows a taste for research on issues related to game development and game psychology.
</br>
        Certainly a very promising professional whom I highly recommend it.
      </p>
      <h5>
        Pedro Anisio Silva
      </br>
      Sr. Softwarer Development Mgr. at Walmart.com.br
    </h5>
      </div>
      <hr class="hr-dashed-dark">
      <div class="row">
      <p>
        Vitor was a very diligent student, I was his teacher in object oriented programming discipline during 3rd semester of college. I emphasize that he presented fairly rapid evolution during the course, he surely is engaged and has a great ability to learn and adapt to new technologies. I also remember he had great relationship skills with both their colleagues and teachers.
      </p>
      <h5>
        Fabio Roberto de Miranda
      </br>
      Adjunct Professor at Insper
    </h5>
      </div>
    </div>


</div>
</div>
</div>
