<div class="container-fluid bg-3">
  <div class="divider" id="aboutme"></div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-1">
    </div>
    <div class="col-sm-8 col-sm-offset-1 center-text text">
      <h1 class='poiret-one'>Vitor Navarro</h1>

      <hr class='hr-dashed'>

      <p>
        I'm a Computer Scientist graduated from Centro Universitário Senac with a graduation course in Games: Production and Development also from Senac.
      </br>
      My career in software development started because of my desired of making digital games, since then I've created: desktop; web; mobile and game software, I've learned lots of things and I've met lots of good and not so good people. The outcome is that I really like every aspect of working in tech industry.
    </br>
    Furthermore I consider myself a generalist programmer but currently the languages most used are: Objective-C, Lua and Ruby.
  </br>
  And hey, these are things I deeply enjoy: technology, coding, teaching, video games, books, psychology, drawing and party with friends.
</p>


<div class="row" style="text-align:center">
  <h3 class='raleway-bold'>
    Follow my blogs
  </h3>
</div>
<div class="row" style="text-align:center">
  <div class="col-xs-6 col-sm-6">
    <a class="raleway-semibold link"
    href="http://ideiasbynavarro.blogspot.com.br/">
    world.load navarro.life.notes
  </a>
</div>
<div class="col-xs-6 col-sm-6">
  <a class="raleway-semibold link"
  href="https://game2nextlevel.wordpress.com/">
  Next Level - Game Development
</a>
</div>
</div>

</div>
</div>
</div>
