<!-- Begin page content -->
<div class="container-fluid projects">
  <div class="divider" id="projects"></div>

  <div class="row">
    <div class="col-sm-12">
      <div class="col-lg-4">
        <h1 class='want-title poiret-one'>You want to see:</h1>
      </div>
      <div class="col-sm-2 col-sm-offset-1 col-xs-1">
        <a href="javascript:click_project_first();">
          <div class='project-btn-first project-btn-first-selected'>
          </div>
        </a>
      </div>
      <div class="col-sm-2 col-xs-1">
        <a href="javascript:click_project_mid();">
          <div class='project-btn-mid'>
          </div>
        </a>
      </div>
      <div class="col-sm-2 col-xs-1">
        <a href='https://github.com/vnavarro'>
          <div class='project-btn-last'>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class='project-item'>
    <hr class='hr-dashed'>
    <div id='apps'>
      <div class='row'>


        {% include box_item.html title="Pão de Açúcar Mais" description="App for the subscribed clients of the Mais program from Pão de Açúcar retailer." android="https://play.google.com/store/apps/details?id=br.com.paodeacucarmais&hl=pt_BR" img="https://lh3.googleusercontent.com/oQ2FuDff1fmds4wneT-8KlxcOuofKKiellyO9HeQaisxqo9M7vtkxuVgU1V0AZS-mK_W=w300" %}

        {% include box_item.html title="Pontofrio.com" description="Personalized app version of online e-commerce for PontoFrio store." appstore="https://itunes.apple.com/br/app/pontofrio.com/id414724783?mt=8"   img="http://cdn.marketplaceimages.windowsphone.com/v8/images/7835e7a4-bf6e-49bd-b128-151ba946d242?imageType=ws_icon_large" %}

        {% include box_item.html title="Extra.com" description="Extra's tailor made mobile store." appstore="https://itunes.apple.com/br/app/extra.com.br/id430650221?mt=8"  windows="https://www.microsoft.com/pt-br/store/apps/extracombr/9nblggh084l9" img="https://store-images.s-microsoft.com/image/apps.64735.13510798882842610.bb92ca87-f226-439d-83e5-d1ee0ee900c1.bc55e520-68a1-48a2-b11b-fed606e684cc?w=191&h=191" %}

      </div>
      <div class='row'>

        {% include box_item.html title="CasasBahia.com" description="One of the most iconic brazilian retailers has it store gone mobile." appstore="https://itunes.apple.com/br/app/casas-bahia/id430647496?mt=8"  windows="https://www.microsoft.com/pt-br/store/apps/casas-bahia/9nblgggz1nxj" img="https://store-images.s-microsoft.com/image/apps.16048.13510798883829975.3f8186ee-6b05-43c0-857f-85c2755d200f.2e6cb522-4870-46d8-a0c5-b588f99f075f?w=191&h=191" %}

        {% include box_item.html title="24 horas VEJA.com" description="Das Dad and VEJA.com amazing watch that read the news, user's agenda, friend's birthdays, local traffic and weather using a pleasant voice. Unfortunately it is a discontinued product." img="http://a2.mzstatic.com/us/r30/Purple4/v4/09/93/ee/0993eed9-fa34-3b97-97a6-b2e482e3dd0f/mzl.dhbgnzip.175x175-75.jpg" video="https://vimeo.com/139926657" video_text="Watch it working"%}

        {% include box_item.html title="Oi Moda" description="Oi Moda was built for 2011 Fashion Week season and features news live feed, live streaming, lineup schedule, lookbook gallery and sharing on twitter, Facebook and Foursquare. Besides that it has a gorgeous look and feel." img="http://dl.dropbox.com/u/14137502/site/oimodaiPad01.jpg" %}

      </div>
      <div class='row'>

        {% include box_item.html title="FLIP" description="FLIP stands for Paraty International Literary Festival. This project was custom made for FLIP and contains sharing (Twitter, Foursquare and Facebook), map kit, event schedule, art gallery and marketing video features." img="https://dl.dropboxusercontent.com/u/14137502/site/flip01.jpg" appstore="http://itunes.apple.com/br/app/flip2011/id444331340?mt=8"%}
      </div>
    </div>

<div id='games' style="display: none;">
  <div class='row'>
    {% include box_item.html title="Wiggle Wiggle Wiggle" description="What you gonna do with that big fat butt? Tap it all the way until you fail of course! <br/> <br/> Enjoy the wiggle free style time between songs and get more points!<br/> <br/> This project is a pun (joke) with the theme using the famous music and the theme, we wanted to try something that would make people laugh about during the Global Game Jam 2015." more="http://globalgamejam.org/2015/games/wiggle-wiggle-wiggle" more_content="Visit GGJ page" img="assets/home/Start_screen.png" %}

    {% include box_item.html title="Candypot Pocket!" description="Match 3 or more sweet fruit candies in 60 seconds using lots of power-ups and your puzzle skills, unlock achievements and compete with your Facebook friends. <br/> <br/> I worked with Hive Digital Entertainment to bring this IP to Android." android="https://market.android.com/details?id=com.playphone.games.candypot" img="http://dl.dropbox.com/u/14137502/site/candypotpocket_1.png" %}

    {% include box_item.html title="O Caminho de Selina" img="https://dl.dropboxusercontent.com/u/14137502/site/selina01.PNG" more="http://spjam.com.br/jogos/selina" more_content="Check SPJAM page" description=" A little girl is trapped in a labyrinth, between reality and madness she is pursued by her own nightmares.<br/> Everything inside a fantastic 2D environment where the player must solve the path puzzle fast enough or else....<br/> This game was developed for iOS and Android by Blue Monkeys at 2013 SPJAM.<br/> Meet team members: Vitor Navarro and Arthur Ferreira as programmers, Joel Oliveira as sound engineer and level designer and Rogério Rennó as artist." %}

      </div>

<div class='row'>
  {% include box_item.html title="Puzzle Revenge" img="https://dl.dropboxusercontent.com/u/14137502/site/puzzlerevenge.png" description="Help the angry cossack to send the puzzle pieces back to it's place, away from his country.<br/>This game was made by me and my friend Rogério Rennó (Artist) and won the 1st prize at Firefox OS Hackathon 2013 on professional category." more="https://dl.dropboxusercontent.com/u/14137502/PuzzleRevenge/index.html" more_content="Play web version" %}
  <div class="col-sm-4">
    <div class='light-box-shadow'>
      <div class='project-item-img'
      style='background-image: url("https://dl.dropboxusercontent.com/u/14137502/site/candyfestival2.png")'>
    </div>
    <h3 class='raleway-semibold'>Candy Festival</h3>
    <p>
      It's candy time! Fill your bag (board) with all the candies you can get in 2 minutes. Eat 'em all!
    </br>
    Unfornunately this project still has some bugs, don't have all the planned features and wasn't delivered in time for october #1GAM just a week later.
  </br>
  <a href="http://candy-festival.vnavarro.com.br">Click to play</a>
</br>
Or if you want to see source code go ahead and donwload from my
<a href="https://github.com/vnavarro/AgePop">github repository</a>
</br>
</br>
<a class='raleway-semibold' href=''>
  MORE
</a>
</p>
</div>
</div>
<div class="col-sm-4">
  <div class='light-box-shadow'>
    <div class='project-item-img'
    style='background-image: url("https://dl.dropboxusercontent.com/u/14137502/site/hwave.png")'>
  </div>
  <h3 class='raleway-semibold'>H-Wave</h3>
  <p>
    Defend decagon against the mighty hexagons. Still very crude, but I hope to improve it in time.
  </br>
  Download it from here: <a href='https://mega.co.nz/#!5JwmDJra!Pu-5BC_3qYTUJKpCSdCCVCtHawoZa4uq8riHYHhf4G8'>Windows/Mac</a> inside.</br>
  Or if you want to see source code go ahead and donwload from my <a ref='https://github.com/vnavarro/hexagon_defenders'>github repository</a>
</br>
</br>
<a class='raleway-semibold' href=''>
  MORE
</a>
</p>
</div>
</div>


</div>

<div class='row'>
  <div class="col-sm-4">
    <div class='light-box-shadow'>
      <div class='project-item-img'
      style='background-image: url("https://dl.dropboxusercontent.com/u/14137502/site/welovesnake.png")'>
    </div>
    <h3 class='raleway-semibold'>We love Snake!</h3>
    <p>
      There is no mystery this is the classic snake, the purpose is to add cool new crazy features
      to this classic, but time constraints didn't allow them to exists before the #1GAM deadline so maybe
      it'll be updated in the future.
      <br>
      <br>
      Download it from here: <a href="https://dl.dropboxusercontent.com/u/14137502/Snake/welovesnake_windowsx86.zip">Windows</a> or
      <a href="https://dl.dropboxusercontent.com/u/14137502/Snake/welovesnake_macosx.zip">Mac</a>
      <br>
      Or if you want to see source code go ahead and donwload from my <a href="https://github.com/vnavarro/SnakeGame">github repository</a>
    </br>
  </br>
  <a class='raleway-semibold' href=''>
    MORE
  </a>
  </p>
  </div>
  </div>

  <div class="col-sm-4">
    <div class='light-box-shadow'>
      <div class='project-item-img'
      style='background-image: url("https://dl.dropboxusercontent.com/u/14137502/site/roguerunner.png")'>
    </div>
    <h3 class='raleway-semibold'>Rogue Runner</h3>
    <p>
      Rogue runner is a "runner" 2D platform game. It was an ambicious project that started with Loom Engine with mobile targets but ended made in CreateJS given the few time I had left for finishing it.
      <br>
      <a href="http://roguerunner.herokuapp.com/">Click to play</a>
    </br>
  </br>
  <a class='raleway-semibold' href=''>
    MORE
  </a>
</p>
</div>
</div>
<div class="col-sm-4">
  <div class='light-box-shadow'>
    <div class='project-item-img'
    style='background-image: url("https://dl.dropboxusercontent.com/u/14137502/site/chainup.png")'>
  </div>
  <h3 class='raleway-semibold'>Chain-up!</h3>
  <p>
    Connect a sequence of chains from top to bottom to open the gate and have access to the room treasure.
    <br>
    <a href="http://chain-up.herokuapp.com">Click to play</a>
    <br>
    Or if you want to see source code go ahead and donwload from my <a href="https://github.com/vnavarro/portcullis">github repository</a>
  </br>
</br>
<a class='raleway-semibold' href=''>
  MORE
</a>
</p>
</div>
</div>

</div>

<div class='row'>
<div class="col-sm-4">
  <div class='light-box-shadow'>
    <div class='project-item-img'
    style='background-image: url("https://dl.dropboxusercontent.com/u/14137502/site/zombvolution.jpg")'>
  </div>
  <h3 class='raleway-semibold'>Zombvolution</h3>
  <p>
    I made zombvolution as a test following the Ludum Dare Evolution theme and the 48 hour constraint.
  </br>
  <a href="https://dl.dropbox.com/u/14137502/ld_evolution/final/zombvolution.html">Click to play</a>
</br>
</br>
<a class='raleway-semibold' href=''>
  MORE
</a>
</p>
</div>
</div>
</div>

</div>
</div>
</div>
