---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";

$light-pink: #ff4d8b !default;

.entry-title {
    color: $light-pink;
}

.page-title {
    color: $light-pink;
}

.page-sidebar {
    color: $light-pink;
}

.site-title a {
    color: $light-pink !important;
}

.highlights {
    h1, .entry-title {
        font-size: 24px !important;
    }

    .entry {
        padding-bottom: 0px;
    }
}

.highlights-grid {
    grid-gap: 1em !important;
    @extend .entries-grid;    
}

.btn--bluesky {
    background-color: #00bfff;
    color: #fff;
    &:hover {
        background-color: #007399;
        color: #fff;
    }
}

.toprecommendations {
    padding-top: 1em;
    padding-bottom: 1em;
}


@-webkit-keyframes slidetounlock{
    0%{background-position:-100px 0}
    10%{background-position:-100px 0}
    50%{background-position:100px 0}
    to{background-position:100px 0}
}

@keyframes slidetounlock{
    0%{background-position:-100px 0}
    10%{background-position:-100px 0}
    50%{background-position:100px 0}
    to{background-position:100px 0}
}

.min-h-full{
    min-height:100vh
}

.flex{
    display:flex
}

.flex-both-center{
    display:flex;
    justify-content:center;
    align-items:center
}

.flex-wrap{
    flex-wrap:wrap
}

.flex-h-center{
    display:flex;
    justify-content:center
}

.item-center{
    align-items:center
}

.flex-dir-c{
    flex-direction:column
}

.mx-auto{
    margin-left:auto;
    margin-right:auto
}
.mt-2{
    margin-top:2px
}
.mt-4{
    margin-top:4px
}
.mt-8{
    margin-top:8px
}
.mt-12{
    margin-top:12px
}
.mt-16{
    margin-top:16px
}
.mt-24{
    margin-top:24px
}
.mt-32{
    margin-top:32px
}
.mt-48{
    margin-top:48px
}
.mt-120{
    margin-top:120px
}
.mb-48{
    margin-bottom:48px
}
.m-auto{
    margin:auto
}
.ml-6{
    margin-left:6px
}
.py-10{
    padding:10px
}
.ln-h-22{
    line-height:22px
}
.ln-h-32{
    line-height:32px
}

.text-fs-14{
    font-size:14px
}
.text-fs-16{
    font-size:16px
}
.text-fs-18{
    font-size:18px
}
.text-fs-20{
    font-size:20px
}
.text-fs-22{
    font-size:22px
}

.font-inter{
    font-family:Inter,sans-serif
}
.font-weight-500{
    font-weight:500
}
.font-weight-600{
    font-weight:600
}

.color-white{
    color:#fff
}
.color-gray{
    color:hsla(0,0%,100%,.9)
}
.color-dark{
    color:#222
}
.color-danger{
    color:#ff4963
}

.page-bg{
    position:fixed;
    inset:0;
    z-index:-1;
    height:100vh;
    width:100vw
}
.page-image {
    object-position: center;

}

.display-image {
    border-radius: 50%;
}

.page-title {
    font-size: 18px;
    font-weight: 700;
}

.page-bioline {
    font-size: 16px;
    font-weight: 600;
}

.page-item-title {
    font-size: 16px;
    font-weight: 700;
}

.page-item-each {
    color: #1F365C;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    border-radius: 8px;
    
    min-height: 60px;
}

.page-item-wrap {
    margin: 16px 0;
}

.page-item-wrap:last-child {
    margin-bottom: 0;
}

.page-item-wrap:hover {
    transform: translate3d(0px, 0px, 0px) scale(1.015);
}

.page-item {
    border: 0px solid #FFFFFF;
    background: #FFFFFF ;
    border-radius: 8px;
   box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1), inset 0px 0px 2px 1px rgba(24, 39, 75, 0.05);
}


.embed-wrap iframe, .embed-wrap-inside {
    border-radius: 8px;
}

.page-item-wrap {
    border-radius: 8px;
}

.page-text-font {
    font-family: 'Inter', sans-serif;
    text-transform: none;
}

.page-text-color {
    color: #fff;
}

.social-icon-fill path, .social-icon-fill circle, .social-icon-fill rect {
    fill: #fff;
}

.page-overlay-btn {
    border: 2px solid #1F365C;
}

.w-full{
    width:100%
}

.w-250{
    width:250px
}
.h-150,.h-165{
    height:150px
}

.background-overlay{
    position:fixed;
    width:100%;
    height:100%;
    z-index:0
}

.page-overlay{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,.1);
    -webkit-backdrop-filter:blur(20px);
    backdrop-filter:blur(20px);
    z-index:100
}
.page-overlay-btn{
    text-decoration:none;
    font-family:Inter,sans-serif;
    background:transparent;
    padding:10px 30px;
    border-radius:6px;
    font-size:1.2em;
    display:inline-block;
    cursor:pointer
}
.page-overlay-title{
    font-size:30px;
    font-family:sans-serif
}

.page-overlay-text{
    font-size:18px
}

.page-image{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    -o-object-fit:cover;
    object-fit:cover
}

.display-image{
    width:96px;
    height:96px;
    display:block;
    border-radius:50%;
    -o-object-fit:cover;
    object-fit:cover
}
.text-center{
    text-align:center
}

.page-title{
    margin-bottom:0
}

.page-bioline{
    font-weight:500
}

.page-full-wrap{
    width:680px;
    z-index:10;
    padding-bottom:176px
}
.page-item-wrap{
    transition:transform .15s cubic-bezier(.17,.67,.29,2.71) 0s
}

.page-item-wrap.show-embed{
    border-radius:30px;
    transition:unset;
    transform:unset
}

.page-item-wrap.show-embed:hover{
    transform:unset
}

.page-item-wrap.show-embed:hover .page-item:after,.page-item-wrap.show-embed:hover .page-item:before{
    -webkit-animation:unset;
    animation:unset
}

.show-embed-item{
    overflow:hidden;
    transition:all .3s ease-in-out
}

.page-item-wrap.show-embed .show-embed-item{
    overflow:visible
}

.embed-ind-arrow-icon{
    transform:rotate(-90deg)
}

.page-item-wrap.show-embed .embed-ind-arrow-icon{
    transform:rotate(0deg)
}

.page-item{
    box-sizing:border-box;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:-1
}
.page-social{
    display:block;
    cursor:pointer;
    margin:0 12px 12px
}

.page-social svg{
    width:28px;
    height:28px
}

.relative{
    position:relative
}

.link-each-image{
    overflow: visible;
    width: auto;
    height:43px;
    position:absolute;
    left:9px;
    -o-object-fit:cover;
    object-fit:cover
}

.page-logo{
    position:absolute;
    bottom:32px;
    left:calc(50% - 15px)
}

.page-logo:hover svg .bl-logo-br{
    opacity:1
}

.rounded-md{
    border-radius:8px
}

.close-embed{
    width:25px;
    height:25px;
    border-radius:50%;
    background:#fff;
    opacity:.7
}

.embed-wrap{
    width:100%;
    box-sizing:border-box;
    padding:8px;
    height:100%
}

.embed-ind-arrow{
    position:absolute;
    right:24px;
    height:14px;
    top:calc(50% - 7px);
    margin-bottom:16px
}

.embed-ind-arrow-icon{
    transition:all .4s ease-in-out
}

.close-embed:hover{
    opacity:1
}

.cursor-pointer{
    cursor:pointer
}

.page-item-each{
    text-decoration:none;
    overflow:hidden;
    z-index:10;
    box-sizing:border-box
}

.item-title{
    width:55%;
    word-break:break-word
}
.social-icon-anchor{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0
}

.page-social:hover{
    transition:all .1s ease-in-out;
    transform:scale(1.1)
}

.page-item-title{
    font-weight:700;
    margin-bottom:16px
}

.embed-wrap-inside{
    background-color:#fff;
    display:flex;
    justify-content:center;
    box-sizing:border-box;
    padding:10px;
    height:100%;
    overflow:hidden
}

.embed-wrap-inside iframe{
    width:auto;
    min-width:500px
}

.embed-wrap-inside{
    position:relative
}

.embed-wrap-inside:after{
    content:"";
    position:absolute;
    height:85%;
    width:495px;
    border:10px solid #fff;
    transition-property:border;
    transition-duration:.2s;
    pointer-events:none
}

.subscribers-img{
    width:66px;
    height:66px;
    border-radius:50%;
    box-shadow:0 0 10px rgba(0,0,0,.05);
    position:absolute;
    top:-33px;
    left:calc(50% - 33px)
}

.subsc-count{
    color:hsla(0,0%,100%,.9);
    line-height:24px;
    font-weight:300
}

.subsc-err{
    height:40px;
    transition:all .25s ease-in-out
}

.w-400{
    width:400px
}

.subsc-button{
    height:40px;
    padding:0 16px;
    background:#fff;
    border:1px solid #fff;
    border-radius:0 2px 2px 0;
    line-height:32px;
    text-transform:capitalize;
    color:#000;
    cursor:pointer;
    justify-content:center;
    align-items:center;
    text-decoration:none
}

.thank-you-btn{
    border-radius:2px
}

.dark-btn{
    background:#222;
    height:48px;
    padding:0 24px;
    color:#fff;
    border:1.5px solid #222
}

.subsc-button:focus{
    outline:none
}

.subsc-email{
    background:hsla(0,0%,100%,.1);
    border:1.5px solid #fff;
    border-radius:2px 0 0 2px;
    padding:0 12px;
    height:40px;
    font-size:14px;
    width:calc(100% - 180px);
    box-sizing:border-box
}

.dark-input{
    border:1.5px solid #222;
    height:48px;
    width:calc(100% - 100px);
    font-size:16px;
    color:#222
}

.subsc-email::-moz-placeholder{
    font-family:Inter,sans-serif;
    font-size:14px;
    line-height:19px;
    color:hsla(0,0%,100%,.5)

}

.subsc-email:-ms-input-placeholder{
    font-family:Inter,sans-serif;
    font-size:14px;
    line-height:19px;
    color:hsla(0,0%,100%,.5)
}

.subsc-email::placeholder{
    font-family:Inter,sans-serif;
    font-size:14px;
    line-height:19px;
    color:hsla(0,0%,100%,.5)
}

.dark-input::-moz-placeholder{
    color:#6e6d7a;
    font-size:16px
}

.dark-input:-ms-input-placeholder{
    color:#6e6d7a;
    font-size:16px
}

.dark-input::placeholder{
    color:#6e6d7a;
    font-size:16px
}

.subsc-email:focus{
    outline:none;
    background:hsla(0,0%,100%,0)
}

.subscribers-email-wrap.error-wrap .subsc-button,.subscribers-email-wrap.error-wrap .subsc-email{
    border:1.5px solid #ff4963
}

.subscribers-email-wrap.error-wrap .subsc-email{
    border-right:none
}

.featured-subscribers{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background:#000;
    box-shadow:0 1.60588px 4.41618px rgba(24,39,75,.12),0 2.81029px 12.8471px rgba(24,39,75,.12);
    z-index:100;
    box-sizing:border-box;
    opacity:1;
    transition:all .27s cubic-bezier(.1,.9,.9,.9);
    flex-wrap:wrap;
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center
}

.featured-subscribers .subsc-count,.featured-subscribers .subsc-svg,.featured-subscribers .subscribers-email-wrap{
    opacity:1
}

.featured-subscribers.hide-subscribers .subsc-count,.featured-subscribers.hide-subscribers .subsc-svg,.featured-subscribers.hide-subscribers .subscribers-email-wrap{
    opacity:0
}

.featured-subscribers .subscribers-img{
    opacity:1;
    transform:scale(1);
    transition:all .27s cubic-bezier(.1,.9,.9,.9)
}

.featured-subscribers.hide-subscribers .subscribers-img{
    opacity:0;
    transform:scale(.15);
    transition:all .27s cubic-bezier(.1,.9,.9,.9)
}

.featured-subscribers .subsc-title{
    margin-top:32px;
    transition:all .27s cubic-bezier(.1,.9,.9,.9)
}

.featured-subscribers.hide-subscribers .show-after-success .thank-you-msg{
    opacity:1
}

.featured-subscribers.hide-subscribers .pt-38{
    padding-top:38px
}

.featured-subscribers.hide-subscribers .pt-52{
    padding-top:52px
}

.featured-subscribers.hide-subscribers .subsc-title{
    font-size:16px;
    font-weight:400;
    transition:all .27s cubic-bezier(.1,.9,.9,.9)
}

.featured-subscribers.hide-subscribers{
    transition:all .25s cubic-bezier(.1,.9,.9,.9);
    height:56px
}

.featured-subscribers.hide-subscribers .subscribers-btn{
    transform:rotate(180deg)
}

.subscribers-btn{
    position:absolute;
    right:16px;
    top:14px;
    width:30px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:30px;
    transition:all .2s ease-out
}

.subscribers-btn svg path{
    opacity:.5;
    transition:all 75ms ease
}

.subscribers-btn:hover svg path{
    opacity:1;
    transition:all 75ms ease
}

.op-0{
    opacity:0
}

.hidden{
    display:none
}

.campaign-main-wrap{
    width:400px
}

.campaign-email{
    border:1px solid #e7e7e9;
    width:80px;
    height:80px;
    -o-object-fit:cover;
    object-fit:cover;
    border-radius:50%
}

.campaign-subsc-count{
    color:rgba(34,34,34,.9)
}

.campaign-user-link{
    background:rgba(0,0,0,.05);
    -webkit-backdrop-filter:blur(200px);
    backdrop-filter:blur(200px);
    border-radius:68px;
    height:42px;
    padding:0 12px;
    margin:0 auto;
    text-decoration:none;
    position:fixed;
    bottom:36px;
    transition:all .15s ease-out
}

.campaign-user-link:hover{
    background:rgba(0,0,0,.1)
}

.campaign-user-image{
    width:24px;
    height:24px;
    border-radius:50%;
    margin-right:12px
}

.bl-circle-loader{
    border-right:3px solid transparent;
    border-top:3px solid transparent;
    border-radius:50%;
    border-color:#000 #000 transparent transparent;
    border-style:solid;
    border-width:3px;
    width:15px;
    height:15px;
    -webkit-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    position:absolute
}

.dark-btn .bl-circle-loader{
    border-top:3px solid #fff;
    border-right:3px solid #fff
}

@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(1turn)
    }
}

@keyframes spin{
    0%{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(1turn)
    }
}

@media (max-width:768px){
    .page-full-wrap{
        width:90%
    }
    .embed-wrap-inside iframe{
        width:100%;
        min-width:unset
    }
    .page-overlay-title{
        font-size:24px;
        margin:16px 0
    }
    .embed-wrap-inside:after{
        width:93%
    }
}

@media (max-width:480px){
    .campaign-main-wrap{
        width:100%;
        padding:0 24px
    }
    .xs-hidden{
        display:none
    }
    .xs-w-100{
        width:100%
    }
    .xs-w-150{
        width:150px
    }
    .featured-subscribers{
        height:150px;
        padding:24px 16px 32px
    }
    .h-165{
        height:165px
    }
    .xs-mt-6{
        margin-top:6px
    }
    .xs-mt-8{
        margin-top:8px
    }
    .xs-mt-16{
        margin-top:16px
    }
    .xs-mt-32{
        margin-top:32px
    }
    .xs-mx-24{
        margin:auto 24px
    }
    .xs-block{
        display:block
    }
    .subsc-button{
        font-weight:400;
        padding:0 16px;
        border-radius:0 4px 4px 0
    }
    .thank-you-btn{
        border-radius:4px
    }
    .subsc-email{
        width:calc(100% - 65px);
        border:1.5px solid #fff;
        border-radius:4px 0 0 4px
    }
    .dark-input{
        border:1.5px solid #222
    }
    .subsc-title{
        font-size:16px
    }
    .featured-subscribers .subsc-title{
        margin-top:38px;
        width:calc(100% - 20px)
    }
}

@media (max-width:400px){
    .embed-wrap-inside:after{
        width:90%
    }
}
