---
layout: page
---

<p>⚠️ {{ site.data.l10n.posts-disclaimer }}</p>

<h1>{{ site.data.l10n.highlights }}</h1>
<div class="highlights highlights-grid">
    {% assign myOtherPost = site.posts | where_exp:"item", "item.highlight and item.title contains 'falha'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {% assign myOtherPost = site.posts | where_exp:"item", "item.title contains 'Segurança'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {% assign myOtherPost = site.posts | where_exp:"item", "item.title contains 'Communication'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {% assign myOtherPost = site.posts | where_exp:"item", "item.title contains 'Quality'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {% assign myOtherPost = site.posts | where_exp:"item", "item.title contains 'code monkeys'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {%- comment -%}
    {% assign other2 = site.posts | where_exp:"item", "item.url contains 'better-pro'" | sort: "item.date" | reverse %}
    {%- for entry in other2 limit: posts_limit -%}
        {% include entry.html %}
    {%- endfor -%}
    {%- endcomment -%}
</div>
<hr>
<div class="entries-{{ page.entries_layout | default: 'list' }}">    

    <h1>{{ site.data.l10n.latest-posts }}</h1>

    {% assign posts_limit = page.posts_limit | default: 10 %}

    {% assign posts = site.posts | where_exp: "item", "item.lang == site.active_lang" %}

    {%- for entry in posts limit: posts_limit -%}
        {% include entry.html %}
    {%- endfor -%}

    <a href="/posts">{{ site.data.l10n.more }}...</a>
</div>
<hr>
<div class="toprecommendations">
    <h3><u>{{ site.data.l10n.top-recomendations-by-me }}</u></h3>
    <p>
        {{ site.data.l10n.top-recomendations-by-me-content }}
    </p>
</div>
