---
layout: page
---

<h1>Highlights</h1>
<div class="highlights highlights-grid">
    {% assign myOtherPost = site.posts | where_exp:"item", "item.highlight and item.title contains 'falha'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {% assign myOtherPost = site.posts | where_exp:"item", "item.title contains 'Segurança'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {% assign myOtherPost = site.posts | where_exp:"item", "item.title contains 'Communication'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {% assign myOtherPost = site.posts | where_exp:"item", "item.title contains 'Quality'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {% assign myOtherPost = site.posts | where_exp:"item", "item.title contains 'code monkeys'" | first %}
    {%- assign entry = myOtherPost -%}
    {% include entry-short.html %}

    {%- comment -%}
    {% assign other2 = site.posts | where_exp:"item", "item.url contains 'better-pro'" | sort: "item.date" | reverse %}
    {%- for entry in other2 limit: posts_limit -%}
        {% include entry.html %}
    {%- endfor -%}
    {%- endcomment -%}
</div>

<div class="toprecommendations">
    <h3><u>Top recommendations by me</u></h3>
    <p>These are products that I use or have used in the past, that I trust and believe to have quality and performance deserving the attention of others.</p>
    <p>Subscribe to Surfshark services via my friend link and get up to 3 free months.<br>Stays for 31 days and I get some gift back, thx for the help 😘.<br><a href="https://surfshark.club/friend/JL7FnC6D" target="_blank">Check it out</a> <a href="https://surfshark.club/friend/JL7FnC6D" target="_blank">
        <img src="/assets/img/SVG/Surshark_Logo_White.svg" alt="Surfshark Logo" width="100px">
    </a>
    </p>
    <p>Subscribe to Husky and receive payments from all over the world with the smallest tax.<br> You receive first payment without tax and +3 coupons of 50% off for next payments with my link.<br><a href="https://husky.io?ref=oge4otq" target="_blank">Check it out</a> <a href="https://husky.io?ref=oge4otq" target="_blank">
        <img src="/assets/img/huskynomad-dark-pb-flat.png" alt="Husky Logo" max-height="24px" width="100px">
    </a>
    </p>
</div>

<div class="entries-{{ page.entries_layout | default: 'list' }}">    
    <h1>Latest posts</h1>

    {% assign posts_limit = page.posts_limit | default: 10 %}

    {%- for entry in site.posts limit: posts_limit -%}
        {% include entry.html %}
    {%- endfor -%}

    <a href="/posts">more...</a>
</div>